@import 'components/normalize';
@import 'components/variables';
@import 'components/typography';
@import 'components/icon';
@import 'components/button';
@import 'pages/base';

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600&display=swap');

html, body{
    background: #fff;
    font-family: 'Roboto Mono';
    font-weight: 400;
    
}

button{
    border:2px solid transparent;
    border-radius: 4px;
    padding:10px 20px;
    margin:10px 0;
    font-family: 'Roboto Mono';
    background:#7A1FA4;
    cursor:pointer;
    color:#fff;
    font-weight: 600;
}

.cicon{
    width:22px;
    height:22px;
    img{
        width:100%;
        height:auto;
    }
}

.inl_m{
    display:inline-block;
    vertical-align: middle;
    margin:4px 5px 0px 0px;
}

.sel{
    color:navy;
}

#logo{
    width:50%;
    margin:50px 0;
}

#page{
    width:80%;
    margin:0 auto 100px auto;
    
}